body {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body-container {

}

.footer-container {

}

/* temporary changes */
img {
    width: 500px;
    height: 400px;
}