body {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.first-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-body-container {
    display: flex;
    flex-direction: row;

}

/* temporary changes */

.first-body-container > .body-img {
    width: 350px;
    height: 300px;
}
img {
    width: 200px;
    height: 200px;
}